{**
 * templates/frontend/pages/indexJournal.tpl
 *
 * Copyright (c) 2014-2020 Simon Fraser University
 * Copyright (c) 2003-2020 John Willinsky
 * Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
 *
 * @brief Display the index page for a journal
 *
 * @uses $currentJournal Journal This journal
 * @uses $journalDescription string Journal description from HTML text editor
 * @uses $homepageImage object Image to be displayed on the homepage
 * @uses $additionalHomeContent string Arbitrary input from HTML text editor
 * @uses $announcements array List of announcements
 * @uses $numAnnouncementsHomepage int Number of announcements to display on the
 *       homepage
 * @uses $issue Issue Current issue
 *}
{include file="frontend/components/header.tpl" pageTitleTranslated=$currentJournal->getLocalizedName()}

<div class="page_index_journal">

	{call_hook name="Templates::Index::journal"}

	{if !$activeTheme->getOption('useHomepageImageAsHeader') && $homepageImage}
		<div class="homepage_image">
			<img src="{$publicFilesDir}/{$homepageImage.uploadName|escape:"url"}"{if $homepageImage.altText} alt="{$homepageImage.altText|escape}"{/if}>
		</div>
	{/if}

	{* Journal Description *}
	{if $activeTheme->getOption('showDescriptionInJournalIndex')}
		<section class="homepage_about">
			<a id="homepageAbout"></a>
			<h2>{translate key="about.aboutContext"}</h2>
			{$currentContext->getLocalizedData('description')}
		</section>
	{/if}

	{* Announcements *}
	{if $numAnnouncementsHomepage && $announcements|@count}
		<section class="cmp_announcements highlight_first">
			<a id="homepageAnnouncements"></a>
			<h2>
				{translate key="announcement.announcements"}
			</h2>
			{foreach name=announcements from=$announcements item=announcement}
				{if $smarty.foreach.announcements.iteration > $numAnnouncementsHomepage}
					{break}
				{/if}
				{if $smarty.foreach.announcements.iteration == 1}
					{include file="frontend/objects/announcement_summary.tpl" heading="h3"}
					<div class="more">
				{else}
					<article class="obj_announcement_summary">
						<h4>
							<a href="{url router=$smarty.const.ROUTE_PAGE page="announcement" op="view" path=$announcement->getId()}">
								{$announcement->getLocalizedTitle()|escape}
							</a>
						</h4>
						<div class="date">
							{$announcement->getDatePosted()}
						</div>
					</article>
				{/if}
			{/foreach}
			</div><!-- .more -->
		</section>
	{/if}

	{* Latest issue *}
	{if $issue}
		<section class="current_issue">
			<a id="homepageIssue"></a>
			<h2>
				{translate key="journal.currentIssue"}
			</h2>
			<div class="current_issue_title">
				{$issue->getIssueIdentification()|strip_unsafe_html}
			</div>
			{include file="frontend/objects/issue_toc.tpl" heading="h3"}
			<a href="{url router=$smarty.const.ROUTE_PAGE page="issue" op="archive"}" class="read_more">
				{translate key="journal.viewAllIssues"}
			</a>
		</section>
	{/if}

	{* Additional Homepage Content *}
	{if $additionalHomeContent}
		<div class="additional_content">
			{$additionalHomeContent}
		</div>
	{/if}

	{* Integrate API Paboi *}
		<div id="api-paboi">
			Cek API Disini
		
		</div>
</div><!-- .page -->

{include file="frontend/components/footer.tpl"}
<script>

var journal; 
$( document ).ready(function() {
    $.ajax({
        url: 'http://api.paboi.bigio.id/v1/journal/find',
        beforeSend: function(xhr) {
             xhr.setRequestHeader("Authorization", "eyJhbGciOiJIUzI1NiJ9.eyJpZCI6IjExZjAxOGFkLTEzODUtNDEyZS05NWE2LWM5ZTVhMjkxN2Y5ZCJ9.5q7ncgrQFuP95e4kWwL40AbMAV93SXEpDhMLmKRjbXA")
        }, 
		type: 'POST',
    	contentType: 'text/plain',
    	processData: false,
    	success: function (data) {
		journal = data.data;
		console.log(journal);
		$.each(journal, function(il,value){
			$('#api-paboi').append('<ul class="cmp_article_list articles"><li><div class="obj_article_summary"><h4 class="title"><a>'+ value.title +'</a></h4>'+
								'<div class="meta"><div class="authors">'+ value.author+'</div></div>' +
								'<ul class="galleys_links"><li><a class="obj_galley_link pdf" href="http://api.paboi.bigio.id/v1/image/show/journal/'+ value.filename2 +'" aria-labelledby="article-1">PDF</a></li></ul>'+
								  '</div></li></ul>')
			
		});
		

    	},
    	error: function(){
      		alert("Cannot get data");
    }
})
});
</script>